*{
	margin: 0;
	padding: 0;
}

/* :root{
	--font-theme: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	--font-size-header: 1.5rem;
	--font-size-list-title: 2rem;
	--font-weight-header: 400;


	--clr-font-light-theme: rgb(0, 0, 0);
	--clr-font-dark-theme: rgb(255, 255, 255);

	--clr-font-body: rgb(255, 255, 255);
	--clr-font-header: rgb(255, 255, 255);
	--clr-font-header-nav: rgb(0, 0, 0);
	--clr-font-header-hover: rgb(255, 255, 255);

	--clr-bg-body: rgb(10, 46, 10);
	--clr-bg-main-blocks: rgb(12, 63, 12);
	--clr-bg-header-hover: rgb(10, 46, 10);

	--clr-border-image: rgb(162, 143, 4);

	--object-size-width-page: 86rem;
	--object-size-width-game-div--small: 20rem;
	--object-size-height-game-div--small: 14rem
} */

body{
	/* margin: 0%; */
	background-color: var(--clr-bg-body);
	font-family: var(--font-theme);
	color: var(--clr-font-body);
}


.header{
	background-color: var(--clr-bg-main-blocks);
	font-size: var(--font-size-header);
	display: flex;
	justify-content: center;
	height: 10rem;
	user-select: none;
}
.header__content{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: var(--object-size-width-page);
}

.header__svg{
	flex: none;
}

.header__branding{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 32rem;
	height: 100%;
	color: white;
	text-decoration: none;
	&:hover{
		cursor: pointer;
	}
}

.header__title{
	/* color: var(--clr-font-header); */
}

.header__nav{
	/* width: 50%; */
	width: 32rem;
	height: 100%;
	/* align-items: center; */
}

.header__nav__list{
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-right: auto;
	justify-content:end;
	/* flex-direction: row-reverse; */
	list-style-type: none;
	/* align-items: center; */
}

.header__nav__list__item{
	height: 100%;
	align-content: center;
	padding: 0 3rem;
	margin: 0;
	text-decoration: none;
	&:hover{
		cursor: pointer;
		color: var(--clr-font-header-hover);
		background-color: var(--clr-bg-header-hover);
		text-decoration-line: underline;
	}
	&:visited{
		color: white;
	}
}


.footer{
	background-color: var(--clr-bg-main-blocks);
	height: 10rem;
	
}